#root {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.flex {
  display: flex;
  gap: 14px;
}

.grid {
  display: grid;
  gap: 14px;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.justify-between {
  justify-content: space-between;
}

.input {
  border-radius: 6px;
  padding: 8px;
  border: none;
  height: 24px;
  width: 200px;
  font-size: 16px;
}

.repeated-verb {
  color: #ff4040;
}

.button-danger {
  background-color: #ff4040;
}

.relative {
  position: relative;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.item-list-content {
  padding: 0 12px;
  border-bottom: 1px solid #888;
}

.flex-1 {
  flex: 1;
}

.button {
  height: fit-content;
  width: fit-content;
}

.w-full {
  width: 100%;
}
